button {
  background-color: $highlights;
  outline: none;
  padding: 5px 10px;
  border: none;
  color: $bright;
}
ul {
  list-style: none;
  padding: 0;
}
h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: $contrast;
}