button {
  background-color: $highlights;
  outline: none;
  padding: 5px 10px;
  border: none;
  color: $bright;
  text-transform: uppercase;
  font-size: 6rem;
}

h1 {
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: $contrast;
}

select {
  font-size: 1.6rem;
  text-align: center;
  color: $highlights;
  padding: 5px 10px;
  background: $contrast;
  border: 2px solid $contrast;
  border-radius: 0.8rem;
  option {
    background-color: $secondary;
    text-align: center;
    padding: 0;
  }
}
button {
  font-size: 1.6rem;
  border-radius: 0.8rem;
  &:hover,
  &:focus {
    color: $highlights;
    background-color: $contrast;
  }
}

#movie-id {
  font-size: 1.4rem;
}
.flex-container {
  display: flex;
}
