nav {
  background: $primary;
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 5px solid $highlights;
  z-index: 999;
  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background: $primary;
    bottom: -2.3rem;
    border-bottom: 5px solid $highlights;
    z-index: 0;
  }
  &::before {
    right: 50%;
    transform: skew(0, 20deg);
  }
  &::after {
    left: 50%;
    transform: skew(0, -20deg);
  }

  h1 {
    font-size: 4rem;
    color: $highlights;
    margin: 0 auto;
    z-index: 999;
    margin-bottom: 20px;
    text-align: center;
  }
  form {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    z-index: 21;

    label {
      display: flex;

      font-size: 1.8rem;

      color: $highlights;

      input {
        height: 4rem;

        border: 4px solid $primary;
        border-right: none;
        outline: none;
        border-radius: 25px 0 0 25px;
        color: $primary;
        background: $highlights;
        padding: 2rem;
        width: 10%;
        &:hover,
        &:focus {
          width: 100%;
          transition: width ease-in-out 1s;
        }
      }

      ::placeholder {
        color: $primary;
        opacity: 0.8;
      }
      .nav-button {
        width: 10%;
        font-size: 1.6rem;
        padding: 0 4rem;
        border: 4px solid $primary;
        border-left: none;
        border-radius: 0 25px 25px 0;
        background: $highlights;
        &:hover,
        &:focus {
          font-size: 3rem;
          transition: 0.3s ease;
          padding: 0 5rem;
        }
      }
    }
  }
  img {
    height: 40px;
    width: 60px;
    position: absolute;
    bottom: -5rem;
    z-index: 20;
  }
}

.wrapper {
  max-width: 1580px;
  margin: 0 auto;
  width: 95%;
  .list-header {
    padding-top: 20rem;
    margin-top: 0;
    font-size: 3.8rem;
  }
}
