form {
  display: flex;
  align-items: center;
}
.user-lists {
  display: flex;
  flex-direction: column;
  align-items: center;

  .list-container {
    display: flex;
    gap: 1rem;
    margin: 3rem;
    flex-direction: column;

    h3 {
      position: sticky;
      margin: 0;
    }
  }

  li {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;

    gap: 1rem;
    .flex-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex-shrink: 0;
      scroll-snap-align: start;
      width: 100%;

      img {
        border-radius: 5px;
      }
    }
  }
}
