@media (min-width: 320px) {
  .movie-card {
    width: 85%;
    border-radius: 5px;
  }
  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: $bright;
    font-weight: 600;
  }
  p {
    font-size: 1.6em;
    color: $contrast;
    text-align: center;
    width: 85%;
  }
}
