@media (min-width: 320px) and (max-width: 480px) {
  .search-results {
    .movie-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .flex-container {
        display: flex;
        flex-direction: column;
        width: 75%;
        gap: 1rem;
        select {
          font-size: 1.6rem;
        }
        button {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .search-results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    .movie-list {
      
      .flex-container {    
        
        width: 75%;
        select {
          font-size: 1.4rem;
          width: 75%
        }
        button {
          font-size: 1.4rem;
          width: 50%;
          padding: 0.8rem 0
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .search-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    .movie-list {
      h2 {
        height: 6rem;
      }
      p {
        height: 40rem;
      }
      .flex-container {
        flex-direction: column;
        select {
          width: 125%;
        }
        button {
          width: 125%;
        }
      }
    }

  }

} 

@media (min-width: 1025px) and (max-width: 1280px) {
  .search-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .movie-list {
      .flex-container {
        flex-direction: column;
        select,
        button {
          width: 150%;

        }
        
      }
    }
  }
}