@media (min-width: 320px) and (max-width: 480px) {
  .search-results {
    .movie-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .flex-container {
        display: flex;
        flex-direction: column;
        width: 75%;
        gap: 1rem;
        select,
        button {
          font-size: 1.6rem;
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .search-results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    .movie-list {
      p {
        height: 40rem;
      }
      .flex-container {
        gap: 1rem;
        select {
          font-size: 1.4rem;
          width: 95%;
        }
        button {
          font-size: 1.4rem;
          width: 95%;
          padding: 0.8rem 0;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .search-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .movie-list {
      h2 {
        height: 6rem;
      }
      p {
        height: 40rem;
      }
      .flex-container {
        flex-direction: column;
        select,
        button {
          width: 95%;
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .search-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .movie-list {
      h2 {
        font-size: 3rem;
      }
      .flex-container {
        flex-direction: column;

        select,
        button {
          width: 95%;
        }
      }
    }
  }
}

@media (min-width: 1281px) {
  .search-results {
    .movie-list {
      p {
        height: 40rem;
      }
      h2 {
        font-size: 3rem;
      }
    }
    .flex-container {
      select,
      button {
        width: 95%;
      }
    }
  }
}
