@media (min-width: 320px) {
  .user-list-form {
    display: flex;
    flex-direction: row;
    label {
      height: 2rem;
      input {
        height: 2rem;
      }
    }
    button {
      width: 25%;
    }
  }
  .user-lists {
    .list-container {
      display: flex;
      gap: 2rem;
      border: 6px solid purple;
      h3 {
        font-size: 6rem;
      }
      button {
      }
    }
  }
}
