@media (mind-width: 320px) {
  form {
    display: flex;
    label {
      height: 2rem;
      input {
        height: 2rem;
      }
    }
  }
  .user-lists {
    .list-container {
      display: flex;
      gap: 2rem;
      border: 6px solid purple;
      h3 {
        font-size: 6rem;
      }
      button {
      }
    }
  }
}
