@media (max-width: 480px) {
  form {
    display: flex;
    width: 95%;
    padding: 2rem 4rem;
    gap: 1rem;
    p {
      font-size: 1.6rem;
    }
    select {
      text-align: center;
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      width: 100%;
    }
    button {
      width: 100%;
      font-size: 1.4rem;
    }
  }
  .search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  form {
    width: 85%;
    button,
    select {
      width: 100%;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  form {
    width: 65%;
    select, 
    button {
      width: 50%;
    }
    button {
      font-size: 1.4rem;
    }
  }
}
