@media (min-width: 320px) {
  
  .user-lists {
    .list-container {
      h3 {
        font-size: 3rem;
      }
      button {
        font-size: 1.6rem;
      }
    }
    li {
      display: flex;
      gap: 2rem;

      width: 95%;
      .flex-container {
        width: 95%;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .user-lists {
    li {
      .flex-container {
        width: 47%;
      }
    }

  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .user-lists {
    li {
      .flex-container {
        width: 31%;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .user-lists {
    li {
      flex-wrap: wrap;
      .flex-container {
        width: 23%;
      }
    }
  }
}

@media (min-width: 1281px) {
  .user-lists {
    li {
      flex-wrap: wrap;
      .flex-container {
        width: 23%;
      }
    }
  }
}